{% extends 'base.html' %}
{% load static %}

{% block title %}
SignUp
{% endblock %}
{% block main %}
<div class="container my-5">
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Имя пользователя</label>
      <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Пароль</label>
      <input type="password" name="password1" id="password1" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Повторите пароль</label>
      <input type="password" name="password2" id="password2" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
</div>
{% endblock %}